* {
  margin: 0;
  padding: 0;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  font-size: 1em;
}

main {
  padding: 40px 40px 40px 40px;
}


#privacyPolicyHeading {
  color: #204475;
  text-align: center;
  padding-bottom: 2%;
}

#updateDate {
  font-size: 110%;
  text-align: center;
  color: #204475;
  padding: 2%;
}

#privacyIntro {
  padding-top: 3em;
  padding-bottom: 2em;
}



.lightContent {
  font-size: 1.3em;
  color: #3C5E8E;
  font-weight: lighter;
  text-align: justify;
  padding-top: 0.8em;
  padding-bottom: 2em;
}

.heading {
  font-size: 1.4em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #204475
}




.appInfo {
  /* padding: 4em; */
  /* background-color: #16151A; */
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

#appIcon {
  width: 30%;
  max-width: 15em;
  min-width: 10em;

}

#appTitle {
  flex: 1;
  padding: 30px;
  color: black;
}

#appName {
  font-size: 1.8em;
font-weight: normal;
}

#appSubtitle {
  font-size: 1.4em;
  font-weight: lighter;
  padding-top: 0.6em;
}

.horizontalFlow {
  display: flex;
  height: 10%;
  /* background-color: #65bef0; */
  color: #ffffff;
  align-items: flex-flex-start;
  justify-content: space-around;
  padding: 1.5em;
}

#promoText {
  color: darkgray;
  font-weight: lighter;
}
